.a{
    margin: 45%;
    border-style: solid;
    background-color: brown;
}

.b{
    padding: 15px;
    border-style: solid;
    background-color: brown;
}

.c{
    margin: 50px;
    padding: 15px;
    border-style: solid;
    background-color: brown;
}